*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ccc;
    --black: #222;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
}

.hero-header {
    position: relative;
    height: 70vh;
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.8)), url(../img/hero.jpg);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-top: 1rem;
}

.nav-bar ul {
    text-transform: uppercase;
}

.nav-bar ul li {
    display: inline-block;
}

.nav-bar ul li:not(:first-child) {
    margin-left: 2rem;
}

.nav-bar ul li a {
    text-decoration: none;
    color: var(--white);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 4rem;
    height: 2px;
    margin: 4px auto;
    /* transition: all 0.3s ease-in-out; */
    transition: all 0.3s ease-in-out;
    background-color: rgba(157, 152, 152, .9);
    margin-right: 4rem;
}

.hero-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.hero-container h1,
.hero-container h3 {
    color: var(--white);
}

#hero-title {
    font-size: 6rem;
    font-weight: 300;
}

#hero-sub-title {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right
}

aside {
    width: 15%;
    display: block;
}

.search-filters {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

#filter-form {
    display: block;
}

#filter-form .filter-league h4,
#filter-form .filter-price h4,
#filter-form .filter-word h4 {
    margin-top: 5rem;
    padding-left: .3rem;
}

.filter-league, 
.filter-price, 
.filter-word {
    display: block;
}

.filter-league > label {
    display: inline-block;
    padding-left: .3rem;
}

.filter-league input {
    margin-left: .5rem;
}


.filter-price label {
    padding-left: .3rem;
}

.filter-price input {
    background: red;
    margin-top: 1rem;
}

.filter-word > input {
    margin-top: 1rem;
    margin-left: .3rem;
}

.main-container {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-left: 22rem;
    align-content: space-between;
    justify-content: space-between;
    row-gap: 5rem;
    column-gap: 3rem;
    margin-top: -15rem;
}

.product {
    display: grid;
    grid-template-rows: 5rem repeat(5, 3rem);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* border: 1px solid var(--black); */
    padding: 1rem;
    box-shadow: 2px 2px 5px #777;
}

.product-img {
    grid-row: 1 / 3;
    justify-self: end;
    grid-column: 1 / -1;
    width: 14rem;
    height: 10rem;
}

.product-desc {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}

.product-price {
    grid-row: 5 / -1;
    grid-column: 1 / 2;
    justify-self: center;
    border: 1px solid #333;
    padding: 2rem 3rem;
}

.product-cart {
    grid-row: 5 / -1;
    grid-column: 2 / -1;
    padding: 2rem;
    cursor: pointer;
}

footer {
    display: block;
    height: 10vh;
    background: linear-gradient(to right, rgba(0,0,0,.7), rgba(0,0,0,.8));
    margin-top: 5rem;    
}

footer > p {
    padding-top: 3rem;
    color: var(--white);
}


/* shopping cart */
#cart-body {
    background: linear-gradient(to right, royalblue, purple);
    background-size: cover;
}

.cart-icon {
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 1rem;
}

.cart-table {
    color: var(--white);
    width: 40%;
    /* background: green; */
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    margin-left: 35%;
    margin-top: 15rem;
    padding: 2rem;
}

.cart-table thead, 
.cart-table tbody, 
.cart-table tfoot {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.cart-table thead th,
.cart-table tfoot td {
    padding: 0 6rem;
}

.cart-table tbody td {
    padding: 0 2rem;
}

.cart-table tbody td > img {
    width: 10rem;
}

.table-body {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 30rem;
}

.close {
    color: red;
    text-shadow: 2px 2px 2px #222;
    cursor: pointer;
}

.close > span {
    display: none;
}